.myCards {
  border: none;
  border-radius: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;

  margin-right: 15px;
  margin-bottom: 10px;
  padding: 3px 3px 5px 15px;
  width: 1350px;
  box-shadow: 3px 3px 3px 3px rgb(155, 154, 154);
  background-color: #f1f6f5;
}

.myCardDeleteBtn {
  position: absolute;
  padding: 5px;
}
