.paginationBtn > button {
  text-align: center;
  color: rgb(123, 74, 236);
  font-weight: 600;
  border: #bccef8;
  margin-right: 3px;
  font-size: 16px;
}

.paginationBtn > button[aria-current="page"] {
  background-color: #bccef8;
  color: white;
}
